# For each feed in XDR enter a name and url row below.  There is no limit to the number of feeds 
# you can have in the configuration.  The name is the name you will enter in the URL to show the current
# MD5 value of thr feeds content.
feeds:
  - name: feed1
    url: https://urltofeed1.example.com
  - name: feed2
    url: https://urltofeed2.example.com

# Enable or disable SSL verification of the source feed.  If you point to a custom feed URL that doesn't have a trusted
# CA, set to False, otherwise its safe to leave setting at True.
ssl:
  verify: True

# Enable of disable debug mode.  Debug mode will print out the feed current MD5 as the internal scheduler runs.
debug:
  enabled: True
